accelerate~=1.13.0
transformers~=4.54.1
diffusers~=0.37.1
ftfy~=6.3.1
opencv-python~=4.13.0.92
einops~=0.8.2
bitsandbytes~=0.49.2
triton~=3.3.1; platform_system == "Linux"
triton-windows~=3.3.1.post21; platform_system == "Windows"
lion-pytorch~=0.2.4
schedulefree~=1.4.1
pytorch_optimizer==3.10.0
prodigy-plus-schedule-free~=2.0.1
prodigyopt~=1.1.2
dadaptation~=3.2
torchastic~=0.1.2
torch-optimi~=0.3.3
adv_optm~=2.2.3
kornia~=0.8.2
tensorboard~=2.20.0
safetensors~=0.7.0
wandb~=0.26.1
toml~=0.10.2
voluptuous~=0.16.0
huggingface-hub[hf_xet]~=0.36.2
hf-xet~=1.5.0
matplotlib~=3.10.9
scipy~=1.17.1
RamTorch @ git+https://github.com/67372a/RamTorch
customized-optimizers @ git+https://github.com/67372a/customized-optimizers
lycoris-lora @ git+https://github.com/67372a/LyCORIS@dev
PyWavelets~=1.9.0
imagesize~=1.5.0
numpy~=2.2.6
urllib3~=2.7.0
rich~=15.0.0
sentencepiece~=0.2.1
# for kohya_ss library
-e .
